#loader
{
    width: 30px;
    height: 30px;
    border: 5px solid black;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loading 0.6s linear infinite;
    margin: auto;
}

#container
{
    max-width: 500px;
    margin: auto;
}

.pontuacao
{
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes loading{
    to{
        transform: rotate(360deg);
    }
}